[Unit]
Description=SATARK 2.0 FastAPI Application Service
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/satark-2.0/backend
Environment="PATH=/home/ubuntu/satark-2.0/backend/venv/bin"
ExecStart=/home/ubuntu/satark-2.0/backend/venv/bin/uvicorn app.main:app --host 127.0.0.1 --port 8000 --workers 2

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
